//variables

//colors

$success-color: #63cc82;
$error-color: #e4757a;

$light-green: #58e1c1; 
$dark-blue: #4da2bb;
$light-blue: #7ee6fd;
$purple: #927bc1;
$light-purple: #deb2ee;;
$green: #88d9a0;
$red: #ec9fa3;
$orange: #fd7856;
$light-orange: #fd9f85;


//break-points

$bp: 768px;
